{
  "extends": ["stylelint-config-recommended", "stylelint-config-css-modules"],
  "rules": {
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["aspect-ratio"]
      }
    ],
    "unit-no-unknown": [
      true,
      {
        "ignoreUnits": []
      }
    ]
  }
}
