/**
 * Design system
 * Using Bloom as a foundation
 * https://github.com/tomorrowstudio/bloom
 */

/* Import Bloom */
@import "@tomorrow/bloom/bloom.css";

:root {
  /* Typography */
  --font-family-body: ;
  --font-family-heading: ;
  --font-family-ui: ;

  /* Colors */

  /* UI */
  --content-max-width: 90rem;
}
