/**
 * Pure CSS Components
 */

/* Button reset */
.button-reset {
  border: none;
  width: auto;
  overflow: visible;
  background: transparent;
  font: var(--font-ui);
  outline: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
