/**
 * Pure CSS components
 */

/* Tooltips */
[data-tooltip] {
  position: relative;
  z-index: var(--layer-1);
  &::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -100%);
    background: var(--color-text);
    transition: all 150ms ease;
    opacity: 0;
    pointer-events: none;
    color: white;
    text-align: center;
    padding: 0.1em 0.75em;
    font-size: var(--scale-000);
    max-width: 18rem;
    border-radius: var(--radius-1);
    transform-origin: center;
    z-index: var(--layer-3);
  }
  &:hover::before {
    opacity: 1;
    transform: translate(-50%, -110%);
  }
}
