/**
 * Design system
 * Using Bloom as a foundation
 * https://github.com/builtbytomorrow/bloom
 */
:root {
  /* Bloom overrides */
  --font-family-body: ;
  --font-family-heading: ;
  --font-family-ui: ;

  /* Project variables */
  --content-max-width: 90rem;
}
