@custom-media --desktop (min-width: 40em);

.page {
  position: relative;
  display: grid;
  grid-template-columns: var(--content-grid);
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  min-height: 100vh;
}

.content {
  display: subgrid;
  -ms-grid-row: 2;
  margin-top: 3rem;
}

.content > * {
  grid-column: 2 / 3;
  &:first-child {
    padding-top: 0;
    margin-top: 0;
  }
}

/* Shim grid row auto-placement for IE11 */
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  @for $i from 1 to 30 {
    .content > *:nth-child($i) {
      grid-row: $i / span 1;
    }
  }
}
