@custom-media --desktop (min-width: 40em);

.page {
  position: relative;
  display: grid;
  grid-template-columns: var(--content-grid);
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  -ms-subgrid-rows: 2;
}

.content {
  display: subgrid;
  grid-template-rows: auto;
  -ms-subgrid-rows: 30;
}

.content > * {
  grid-column: 2 / 3;
  align-self: start;
}
