.page,
.content {
  display: grid;
  grid-template-columns: var(--content-grid);
  & > * {
    grid-column: 2 / 3;
    align-self: start;
  }
}

.page {
  position: relative;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.content {
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-subgrid-rows: 30;
}